# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
abseil-cpp
absl-py
aiohttp
aiosignal
antlr4-python3-runtime
arrow-cpp
asciitree
astmonkey
astroid
async-timeout
attrs
audioread
aws-c-common
aws-c-event-stream
aws-checksums
aws-sdk-cpp
black
blas
boost-cpp
bottleneck
brotlipy
bytecode
bzip2
c-ares
ca-certificates
certifi
cffi
chardet
charset-normalizer
click
colorama
comtypes
contourpy
coverage
cryptography
cycler
datasets
dill
docstring-parser
dtwalign
editdistance
eng-to-ipa
epitran
example
exceptiongroup
ffmpeg
filelock
flask
flask_cors
fonttools
frozenlist
fsspec
future
gflags
glog
greenlet
huggingface_hub
idna
iniconfig
intel-openmp
itsdangerous
jellyfish
jinja2
joblib
kiwisolver
lazy-object-proxy
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcst
libcurl
libffi
libprotobuf
libssh2
libthrift
libuv
llvmlite
lz4-c
marisa-trie
markdown-it-py
markupsafe
matplotlib
mdurl
mkl
mkl-service
mkl_fft
mkl_random
mpmath
multidict
multiprocess
munkres
mutpy-pynguin
mypy-extensions
networkx
ninja
ninja-base
numba
numexpr
numpy
numpy-base
omegaconf
openssl
orc
ortools
packaging
pandas
panphon
pathspec
pillow
pip
platformdirs
playsound
pluggy
protobuf
pyarrow
pycparser
pydot
pydub
pygments
pynguin
pyopenssl
pyparsing
pypiwin32
pysocks
pytest
python
python-dateutil
python-xxhash
pytorch
pyttsx3
pytz
pywin32
pyyaml
re2
regex
requests
responses
rich
sacremoses
scipy
seaborn
sentencepiece
setuptools
simple-parsing
six
snappy
soundfile
speechrecognition
sqlalchemy
sqlite
sympy
tbb
termcolor
tk
tokenizers
tomli
torch
torchaudio
tqdm
transformers
typing-extensions
typing-inspect
typing_extensions
tzdata
unicodecsv
urllib3
utf8proc
vc
vs2015_runtime
werkzeug
wheel
win_inet_pton
wrapt
xxhash
xz
yaml
yarl
zlib
zstd

