<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pronunciation Assessment</title>
    <link rel="stylesheet" href="../static/stylesheet/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="../static/stylesheet/record.css" />
    <link rel="stylesheet" href="../static/stylesheet/reset.css" />
    <link rel="stylesheet" href="../static/stylesheet/font.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/stylesheet/stars.css" />


     <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('next').click();
        });
    </script>
</head>

<body>
    <div class="container">
        <div id="ttscont">
            <div class="button-container">
                <button id="button_pronounce_trainer" class="h-button">
                    <span class="fa fa-headphones"></span> Pronunciation Trainer
                </button>
            </div>
        </div>

        <div id="formcontainer">
            <form id="reftextform">
                <textarea id="reftext" rows="3" cols="80" name="reftext" maxlength="160" autofocus
                          placeholder="Enter Sentence here..."></textarea>
            </form>
            <br>
        </div>

        <div class="button-container">
            <button id="microphone" class="green-button">
                <span class="fa fa-microphone"></span> Record
            </button>
            <button id="next" class="blue-button">
                <span class="fa fa-random"></span> Next Sentence
            </button>
        </div>
        <div class="randomclass">

        </div>

        <div id="recordcont">
            <div id="recordingsList"></div>

            <div id="recordloader" class="container">
                <div id="loader"></div>
            </div>

            <div id="metrics" class="animate-bottom">
                <div class="container">
                    <div id="summarytable">
                        <table>
                            <tr>
                                <th>Accuracy Score</th>
                            </tr>
                            <tr>
                                <td id="accuracyscore"></td>
                            </tr>

                        </table>
                                     <div class="stars-container" id="starRating"></div>



                    </div>
                </div>

                <div class="container">
                    <div id="detailedtable">
                        <table>
                            <tr id="wordrow"></tr>
                            <tr id="phonemerow"></tr>
                            <tr id="scorerow"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
          <audio controls class="audio-element hide"></audio>

    <div class="container">
        <div id="audioPlayerContainer">
            <audio id="next_button_audio" controls autoplay></audio>
        </div>
    </div>

    <div class="audio-recording-container">
        <div class="recording-contorl-buttons-container">
            <i class="cancel-recording-button fa fa-times-circle" aria-hidden="true"></i>
            <div class="recording-elapsed-time">
                <i class="red-recording-dot fa fa-circle" aria-hidden="true"></i>
                <p class="elapsed-time"></p>
            </div>
            <i class="stop-recording-button fa fa-stop" aria-hidden="true"></i>
        </div>
        <div class="text-indication-of-audio-playing-container">
            <p class="text-indication-of-audio-playing hide">Audio is playing<span></span>
        </div>
    </div>


         <div id="Pronunciation_Accuracy_Score" style="font-size: 40px", align="center">

    </div>
<br><br>

    <div class="overlay hide">
        <div class="browser-not-supporting-audio-recording-box">
            <p>To record audio, use browsers like Chrome and Firefox that support audio recording.</p>
            <button type="button" class="close-browser-not-supported-box">Ok.</button>
        </div>
    </div>





        <footer id="footeralert">Please allow the use of your microphone.</footer>
    </div>



    <script src="../static/javascript/pronunciation_trainer.js"></script>
    <script src="../static/javascript/get_random_word.js"></script>
    <script src="../static/javascript/record.js"></script>
    <script src="../static/javascript/gettingtext.js"></script>
    <script src="../static/javascript/stars.js"></script>



    <div id="Pronunciation_Accuracy_Score" hidden="hidden">

    </div>


</body>

</html>
